.header-container {
  background-image: url("../images/particles.png");
  background-size: contain;
}
.gray-font {
  color: #707070;
}
.orange-font,
.orange-font:hover {
  color: #ffb027;
}
.rectangle-button {
  border-radius: 35px;
  background: #1a1d21;
  box-shadow: 15px 15px 28px #000000, -15px -15px 28px #2f3235;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
