.header-container {
  background-image: url("../images/particles.png");
  background-size: contain;
  z-index: 1;
}
.gray-font {
  color: #707070;
}
.orange-font,
.orange-font:hover {
  color: #ffb027;
}
.dark-orange-font,
.dark-orange-font:hover {
  color: #ff4b08;
}
.sky-blue-font,
.sky-blue-font:hover {
  color: #0097ff;
}
.green-font,
.green-font:hover {
  color: #00ff91;
}
.purple-font,
.purple-font:hover {
  color: #7e08ff;
}
.rectangle-button {
  border-radius: 35px;
  background: #1a1d21;
  box-shadow: 10px 10px 28px #000000, -10px -10px 28px #2f3235;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.rectangle-button:hover {
  box-shadow: inset 5px 5px 28px #000000, inset -5px -5px 28px #2f3235;
}
.card {
  box-shadow: 12px 12px 24px #000000, -12px -12px 24px #2f3236;
  background: #1a1d21;
  width: 20rem;
}
.margin-class {
  margin-left: 17%;
}
.div-design {
  background: #1a1d21;
  height: 30px;
  width: 40px;
  border-radius: 50%;
  box-shadow: inset 15px 15px 26px #26282b, inset -15px -15px 26px #000000;
}

.gradient-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 8px;
}
@media (max-width: 990px) and (min-width: 771px) {
  .margin-class {
    margin-left: 26%;
  }
  .card {
    width: 18rem;
  }
}
@media (max-width: 575.98px) {
  .card {
    width: 17rem;
  }
  .margin-class {
    margin-left: 90px;
  }
}
